p.abbreviations-plugin-extra-definition {
  display: none;
}

:not(.cm-active)
  > .cm-em
  > .abbreviations-plugin-extra-asterisk:not(.cm-formatting) {
  display: none;
}

.abbreviations-plugin-extra-definition-line .cm-em {
  font-style: normal;
}
